<div id="upload_area">
  <p>ここに画像ファイルをドラッグ</p>
  <p>または</p>
  <label for="file_input">
    ファイルを選択
    <input id="file_input" type="file" name="image" accept="image/*">
  </label>
</div>

<div id="select_pixel">
  <p>画像をクリックして色を採取してください</p>
  <p>(なるべく色が均一な部分を選んでください)</p>
  
  <canvas></canvas>
  
</div>