<div id="upload_area">
  <!-- todo <p>ここに画像ファイルをドラッグ</p>
  <p>または</p>-->
  <label for="file_input">
    ファイルを選択
    <input id="file_input" type="file" name="image" accept="image/*">
  </label>
  <p>　<!--または--></p>
  <%= button_tag 'カラーピッカーを使う', id: 'color_picker_button' %>
  <div style="display: block; height: 1rem"></div><!-- todo: remove this -->
  <%= text_field nil, nil, id: 'url_input_field', size: 50, placeholder: "URLを入力" %>
  <i class="fa fa-times" id="url_delete_button" aria-hidden="true"></i>
  <i class="fa fa-search" id="url_button" aria-hidden="true"></i>
  <div class="error_message" id="upload_validate_error"></div>
</div>

<div id="uploaded_image_detail">
  <p>画像をクリックすると、色を採取できます</p>
  
  <%= render partial: 'partials/image_detail_itself', locals: {
    image_file_name: nil,
    description: nil,
    hex: '000000',
    color_name: '',
    r: 0,
    g: 0,
    b: 0,
    h: 0,
    s: 0,
    v: 0,
    dark_level: 0
  } %>
  
  <%= render partial: 'partials/image_detail_similar_hattoris', locals: {
    similar_color_hattoris: nil,
    similar_dark_level_hattoris: nil 
  } %>
</div>