<div id="category_container">
  <div class="<%= 'active' if active_category == nil %>">
    <p><%= link_to "全て", root_path(order: params[:order], 'list_control[search]': params[:list_control] ? params[:list_control][:search] : nil) %></p>
    <% if active_category == nil %>
      <div class="arrow"></div>
    <% end %>
  </div>
  
  <% categories.each do |category| %>
    <div class="<%= 'active' if active_category == category %>">
      <p><%= link_to category.name, category_path(category.id, order: params[:order], 'list_control[search]': params[:list_control] ? params[:list_control][:search] : nil) %></p>
      <% if active_category == category %>
        <div class="arrow"></div>
      <% end %>
    </div>
  <% end %>
</div>