<div id="similar_hattoris">
  
  <p class="sub_title">近似色の服部平次</p>
  
  <div>
    <% 5.times do %>
      <div>
        <%= link_to image_tag("logo.png", {border: '0'}), "/" %>
        <div>
          <p></p>
        </div>
      </div>
    <% end %>
  </div>
  
  <p class="sub_title">近似色黒度の服部平次</p>
  
  <div>
    <% 5.times do %>
      <div>
        <%= link_to image_tag("logo.png", {border: '0'}), "/" %>
        <div>
          <p></p>
        </div>
      </div>
    <% end %>
  </div>
  
</div>