#category_container {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 6px brown;
  overflow-x: auto;
  
  div {
    &.active {
      p {
        font-weight: bold;
      }
    }
    
    p {
      font-size: 1.4em;
      white-space: nowrap;
      padding: 0 8px;
      margin: 0;
      a {
        text-decoration: none;
      }
    }
    
    .arrow {
      width: 0;
      height: 0;
      border: solid 15px transparent;
      border-bottom-color: brown;
      margin: 0 auto;
    }
  }
}
