#similar_hattoris {
  margin-top: 10px;
  border-top: solid 1px $divider_color;
  
  p {
    margin-top: 40px;
  }
  
  & > div {
    display: flex;
    flex-flow: row wrap;
    
    & > div {
      &:not(:first-child) {
        margin-left: 20px;
      }
      
      img {
        display: block;
        width: 100px;
        height: 100px;
      }
      
      div {
        width: 100px;
        height: 30px;
        margin-top: 5px;
        
        p {
          margin: 0;
          font-size: 0.8rem;
          text-align: center;
          line-height: 30px; // depends on the parent div height
        }
      }
    }
  }
}