#similar_hattoris {
  border-top: solid 1px $divider_color;
  
  p {
    margin-top: 40px;
  }
  
  & > div {
    display: flex;
    flex-flow: row wrap;
    
    & > div {
      &:not(:first-child) {
        margin-left: 20px;
      }
      
      img {
        display: block;
        width: 100px;
        height: 100px;
      }
      
      div {
        width: 100px;
        height: 20px;
        margin-top: 5px;
      }
    }
  }
}