select {
	/*-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;*/
	box-shadow: 0 2px 0 #AAA;
  background-color: white;
  border: solid 1px #AAA;
  border-radius: 3px;
	
	padding: 10px;
}