#upload_area {
  width: 60%;
  padding: 0; // todo: 20px 0;
  margin: auto;
  text-align: center;
  
  & > * { // todo: delete
    display: inline-block;
  }
  
  // todo: border: dashed 3px $main_color;
  
  &.dragover {
    background-color: $main_color_tint;
  }
  
  label {
    @include button(true);
    display: inline-block;
    
    input {
      display: none;
    }
  }
  
  button {
    @include button(true);
  }
  
  #upload_validate_error {
    display: none;
    width: 90%;
    margin: 30px auto 0;
  }
}

#uploaded_image_detail {
  display: none;
  margin-top: 2rem;
  
  canvas {
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.3);
    cursor: crosshair;
  }
  
  #color_info {
    display: none;
  }
}