$secondary_text_color: rgba(0, 0, 0, 0.6);

$divider_color: #dddddd;
$hover_color: rgba(0, 0, 0, 0.02);

$main_color: #8d481c; // 「命がけの復活 負傷した名探偵」より
$main_color_tint: #e7ac88;

// material colors
$material_red: #e53935; // Red600
$material_yellow: #ffca28; //Amber400
$material_green: #66bb6a; // Green400
$material_blue: #2196f3; // Blue500
//$material_brown: #795548; // Brown500
$material_black: #424242; // Grey800