@mixin button($focus) {
  padding: 10px;
  
  background-color: white;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.5);
  
	cursor: pointer;
	
	@if $focus {
  	&:active {
  	  background-color: rgba(0, 0, 0, 0.12);
    }
    transition: background-color 0.1s;
	}
}

@mixin image_shadow {
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.3);
}